

/* Split the screen in half */
.split {
    height: 650px;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  /* Control the left side */
  .dark {
    left: 0;
    background-color:#262626;
  }
  
  /* Control the right side */
  .light {
    right: 0;
    background-color:#777474;
  }


.bot-right {
    float: left;
    font-size: 200px;
    margin-left: 390px;
    margin-top: 400px;
    color: #262626;
}

.bot-left {
    float: right;
    font-size: 200px;
    margin-right: 450px;
    margin-top: 400px;
    color: #777474;
}
